* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9FAFB;
    height: 100%;
    font-family: "Open Sans", sans-serif;
}

/* main {
    display: flex;
    flex-flow: column;
} */

header {
    width: 100%;
    position: relative;
    z-index: 10;
}

a {
    text-decoration: none;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffffbe;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0;
    z-index: 1000;
}
nav a {
    text-decoration: none;
    color: black;
}
.mainnav {
    display: inline-flex;
    justify-content: space-around;
    width: 30%;
    gap: 2%;
}
.nav2 {
    display: inline-flex;
    float: right;
    justify-content: flex-end;
    width: 15%;
    gap: 50%;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* position below the link */
    left: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    border-radius: 4px;
}
.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover > a {
    color: rgb(32, 32, 189);
}


.search-container {
    display: flex;
    position: relative;
    width: 45%;
}
#searchbar {
    width: 100%;
    padding: 10px 40px 10px 25px;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(107, 107, 107);
    font-size: 15px;
}

#search-button {
    position: absolute;
    background: transparent;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    border: none;
    color: rgb(163, 160, 160);
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
}

hr {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 500;
    align-self: center;
    width: 50px;
    height: 5px;
    background-color: rgb(40, 40, 211);
    border-radius: 100px;
    border: none;
}

.title {
    font-weight: 500;
    margin-bottom: 40px;
}
.feat {
    font-weight: 100;
    font-size: 75px;
}
.slogan{
    font-weight: 300;
    margin: 15px 0px 15px 0px;
    font-size: 25px;
}

#body {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    gap: 5%;
}


.video-thumbnail {
    position: relative;
    display: inline-block;
    width: 35%;
}
.thumbnail {
    width: 100%;
    height: auto;
    border-radius: 0px 30px 0px 30px;
    cursor: pointer;
    display: block;
}

.play-button {
    position: absolute;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    /* adjust based on your design */
    height: auto;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
/* Modal styling (full-size video container) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#fullVideo {
    max-width: 80%;
    max-height: 80%;
}
.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

#underhero {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 3%; */
    gap: 100px;
    background-color: rgb(192, 204, 241);
    margin-top: 100px;
    padding-top: 50px;
    /* padding-bottom: 50px; */
}
#bodyunderhero {
    display: flex;
    flex-direction: column;
    width: 30%;
}
#bodyunderhero .genBtn {
    padding: 15px;
    width: 20%;
}
#textunderhero {
    width: 100%;
    font-size: 16px;
    line-height: 25px;
}
.imgunderhero{
    width: 100%;
    height: 400px;
}


#empower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* h2 {
    margin-bottom: 30px;
} */

.genBtn {
    background-color: rgb(40, 40, 211);
    width: 100px;
    padding: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 3px 8px rgb(155, 154, 154);
    margin-top: 20px;
    transition: background-color 0.3s ease;
    font-size: 17px;
}

.genBtn:hover {
    background-color: rgb(30, 30, 158);
}

.card {
    box-shadow: 2px 3px 10px rgb(155, 154, 154);
    margin-top: 25px;
    color: black;
    width: 1200px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 120px;
    align-content: center;
    border-radius: 5px;
}

#cards .card a {
    text-decoration: none;
    color: black;
}

footer {
    bottom: 0;
    background-color: rgb(44, 42, 42);
    color: white;
    width: 100%;
    align-content: center;
    text-align: center;
    margin-top: 40px;
}

footer a {
    text-decoration: none;
    color: white;
}

#tabSection {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30px;
    background-color: white;
    min-height: 1000px;
    width: 70%;
    /* z-index: -999px; */
    position: relative;
}

#tabButton {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    position: absolute;
    bottom: 0px;
}

.tabButtons {
    width: 100%;
    max-width: 350px;
    min-width: 300px;
    padding: 20px 0px;
    border-radius: 10px 10px 0 0;
    border: none;
    background-color: rgb(189, 205, 223);
    font-weight: bold;
    font-size: 20px;
}

#topTabSection {
    background-image: url('https://group-live.jumia.is/images/special/homepage/banner/commitment.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 550px;
    position: relative;
    width: 100%;
    /* z-index: -99px; */
}

h4 {
    position: absolute;
    white-space: nowrap;
    text-align: center;
    font-size: 100px;
    color: #FFF;
    width: 50%;
    align-content: center;
    margin: 25%;
    /* left: -90px; */
}

.tabs {
    display: none;
}

.tabs.active {
    display: block;
    background-color: white;
}

.tabButtons.active {
    background-color: white;
    color: black;
}

#tab1 {
    background-color: white;
}

#tab2 {
    background-color: white;
}

#tab3 {
    background-color: white;
}

/* The Modal (background) */
#modalSign {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
/* Modal Content */
.modalForm {
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    padding-left: 60px;
    border: 1px solid #888;
    width: 600px;
    height: 650px;
    position: relative;
    border-radius: 20px;
    align-items: center;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.inputForm {
    width: 450px;
    margin-bottom: 20px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid black;
}
.formHead {
    margin-bottom: 25px;
    font-weight: bolder;
    font-size: larger;
}
.inputBtn {
    width: 80px;
    height: 30px;
    border: 1px solid black;
    float: right;
    margin-right: 60px;
    border-radius: 5px;
}
#formAddress {
    width: 450px;
    border: 1px solid black;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

#signIn{
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 250px;
}
.signInModal{
    padding: 30px;
    padding-left: 60px;
    padding-bottom: 30px;
    background-color: #fefefe;
    position: relative;
    align-items: center;
    border: 1px solid #888;
    border-radius: 20px;
    width: 600px;
    height: 340px;
    margin: auto;
}
.user{
    background: transparent;
    border: none;
}
.inputBtns{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.inputBtns .inputBtn{
    padding: 5px 5px 5px 5px;
    height: 50px;
    width: 100px;
}

/* Shopping cart page */
.cart-items{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}